    

@font-face {
    font-family: Batman2;
    src: url(../fontes/BATMAN.ttf);
}

#h1 {
    margin: 0;
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Batman1;
}

button {
    cursor: pointer;
}


.inputEspecifico {
    padding: 12px;
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 15px;
    border: 1px solid white;
    transition: 0.3s;
}

.inputEspecifico:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}


#inputs1 {
    display: flex;
    justify-content: center;
    background-color: black;
}