<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1 class="h1Cadastro">CADASTRO DE TAREFAS</h1>

  <div>
    <div class="divAcimaInput">
      <div class="divInputs">
        <input class="button" type="text" placeholder="Tarefa:" maxlength="24" [(ngModel)]="tarefaNome">
        <button (click)="aparecer()">Selecionar Propriedade</button>

        <div *ngIf="teste" class="quadradaoAzul">
          <div *ngFor="let prop of listaProps">
            <div class="divInputVolta">
              <input type="checkbox" [(ngModel)]="conteudo">{{prop.nome}}
            </div>
            <p *ngIf="teste" (click)="aparecer()" class="pVolta">↩️</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content:center">
      <div>
        <button class="buttonCadastro" [disabled]="!hasPermission('Add')" (click)="cadastrarTarefa()">Cadastrar Tarefa</button>
      </div>
    </div>
  </div>



  <div class="divMaior">
    <div (dragover)="dragover(prop, $event)" (drop)="drop($event)" *ngFor="let prop of listaProps,index as indice"
      class="prop-coluna">

      <div>
        <h1 class="categoria">
          {{prop.nome}}</h1>
      </div>

      <div draggable="true" *ngFor="let tarefa of tarefas, index as indice" (dragstart)="drag(tarefa)"
        (drop)="pegaIndice(indice,$event)">
        <div *ngIf="tarefa.prop==prop.nome">
          <hr>
          <p class="p">Nome: {{tarefa.tarefaNome}}</p>

          <div *ngFor="let prop of listaProps">
            <div *ngIf="prop.tipo === 'Texto'">
              <p>{{prop.nome}}</p>
              <input type="text" [(ngModel)]="conteudo">
            </div>

            <div *ngIf="prop.tipo === 'Número'">
              <p>{{prop.nome}}</p>
              <input type="number" [(ngModel)]="conteudo">
            </div>

            <div *ngIf="prop.tipo === 'Seleção'">
              <p>{{prop.nome}}</p>
              <Select>
                <option *ngFor="let prop of listaProps"> prop.nome</option>
              </Select>
            </div>
          </div>

          <select class="button2" (change)="alterarPropriedade(tarefa)" [(ngModel)]="prop2">
            <option *ngFor="let prop of listaProps">
              {{prop.nome}}
            </option>
          </select>

          <button class="buttonRemover" (click)="removerTarefa(indice)">🗑️</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>

</html>