<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1 class="h1Cadastro">CADASTRO DE TAREFAS</h1>

  <div>
    <div class="divAcimaInput">
      <div class="divInputs">
        <input class="button" type="text" placeholder="Tarefa:" [(ngModel)]="tarefa.tarefaNome">
        <input class="button" type="text" placeholder="Descrição:" [(ngModel)]="tarefa.descricao">
        <select class="button" [(ngModel)]="tarefa.categoria">
          <option *ngFor="let categoria of listaCategorias" [value]="categoria">
            {{categoria}}
          </option>
        </select>
      </div>
    </div>
    <div style="display: flex; justify-content:center">
      <div>
        <button class="buttonCadastro" (click)="cadastrarTarefa()">Cadastrar Tarefa</button>
      </div>
    </div>
  </div>



  <div class="divMaior">
    <div *ngFor="let categoria of listaCategorias">

      <h1 class="categoria">{{categoria}}</h1>


      <div class="divResultado">
        <div *ngFor="let tarefa of tarefas, index as indice">
          <div *ngIf="tarefa.categoria==categoria">
            <hr>
            <p class="p">Nome da Tarefa: {{tarefa.tarefaNome}}</p>
            <p class="p">Descrição:</p>
            <textarea class="textArea" (input)="tamanhoTextArea(); LocalStorage()"
              [(ngModel)]="tarefa.descricao">{{tarefa.descricao}}</textarea>
            <p class="p">Status: {{tarefa.categoria}}</p>

            <select class="button2" (change)="LocalStorage()" [(ngModel)]="tarefa.categoria">
              <option *ngFor="let categoria of listaCategorias" [value]="categoria">
                {{categoria}}
              </option>
            </select>

            <button class="buttonRemover" (click)="removerTarefa(indice)">🗑️</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>

</html>