@font-face {
    font-family: Batman1;
    src: url(../app/fontes/batmfa__.ttf);
}

body {
    margin: 0;
}

button,
select {
    cursor: pointer;
}

.h1Cadastro {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding-top: 30px;
    padding: 20px;
    font-size: 25px;
}

.divAcimaInput {
    width: 100%;
    display: flex;
    justify-content: center;
}

.divInputs {
    display: flex;
    justify-content: center;

}

.divMaior {
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divResultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
}

.h1 {
    color: black;
    display: flex;

}

.p {
    color: black;
}

.button {
    margin-top: 10px;
    margin-left: 4px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid black;
}

.buttonCadastro {
    margin-top: 4px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: medium;
    background-color: white;
    transition: 0.9s;
    width: 500px;
}

.buttonCadastro:hover {
    background-color: black;
    color: white;
    transition: 0.9s;
}

.button2 {
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
}

.buttonRemover {
    padding: 15px;
    border-radius: 50px;
    transition: 0.9s;
    background-color: white;
    border: 1px solid black;
    font-size: 15px;
}

.buttonRemover:hover {
    padding: 15px;
    border-radius: 50px;
    background-color: black;
    transition: 0.9s;
}

.textArea {
    resize: none;
    height: 100px;
    border-radius: 10px;
}

option {
    background-color: black;
    color: white;
}

option:-moz-drag-over {
    background-color: green;
}

.categoria {
    display: flex;
    justify-content: center;
}

.aa {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.bb {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    width: 30%;
    flex-wrap: wrap;
}