body{
    margin: 0;
    
}

.h1Cadastro{
    display: flex;
    justify-content: center;
    color: white;
}
.divMaior{
    display: flex;
    justify-content: space-between;
    color: white;
}

.divInputs{
    display: flex;
    justify-content: center;
}

.divResultado{
    display:flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
}

.h1{
    color: white;
    display: flex;
    
}

.p{
    color: white;
}