  <h1 style="margin-left: 10px;">
    TODO APP
  </h1>

  <div style="height: 20px;padding: 10px;">
    <input
    placeholder="TAREFAS: " onchange="this.value='';"
    [(ngModel)]="tarefa.nome"
  />

  <button style="margin-left: 10px;" (click)="cadastrarUsuario()">Cadastrar</button>
  
  <select name="" id="" style="margin-left: 10px;" [(ngModel)]="tarefa.categoria">
    <option value="">To do</option>
    <option value="">Doing</option>
    <option value="">Done</option>
  </select>

  </div>

  <div *ngFor="let usuario of usuarios;index as indice;">
    
    <h4>
      Código: {{(indice+1)}}
      Usuário: {{ usuario.nome }}
      Catégoria: {{usuario.categoria}}
    </h4>

    <select name="" id="" style="margin-left: 10px;" [(ngModel)]="tarefa.categoria">
      <option value="">To do</option>
      <option value="">Doing</option>
      <option value="">Done</option>
    </select>
  
    <button style="margin-left: 10px;" (click)="removerTarefa()">🗑️</button>
  </div>

