body {
    margin: 0;

}

.div-maior {
    display: flex;
    gap: 20px;
    width: 960px;
    flex-wrap: wrap;
}

.h1Cadastro {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: black;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

hr {
    margin: 0;
}

.p {
    color: black;
    width: 16vw;
    font-size: 25px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    
}

.button {
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
}

.buttonCor{
    margin-top: 18px;
    width: 35px;
    height: 35px;
}

button {
    cursor: pointer;
}

.button2 {
    margin-top: 5px;
    background-color: white;
    border: none;
    font-size: x-large;
}


.divInputs {
    display: flex;
    justify-content: center;
}

.divResultado {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aa {
    display: flex;
    /* margin-top: 35px; */
    width: 300px;
}

.botaoAparecer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 35px;
    border: none;
    background-color: white;
    transition: 0.9s;

}

.botaoAparecer:hover {
    background-color: black;
    color: white;
    transition: 0.9s;
}

.buttonCadastro {
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid black;
    font-size: medium;
    background-color: white;
    transition: 0.9s;
    
}

.buttonCadastro:hover {
    background-color: black;
    color: white;
    transition: 0.9s;
}