<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>       
</head>

<body>

    <!-- Parte Relacionada ao Header -->
    <app-header></app-header>

<!-- -------------------------------------------------------------------------------------------------------- -->

    <!-- Essa div é responsável pelos Botões que o usuário será capaz de interagir. -->
    <div id="divInputs">
        <!-- div do Cadastro de propriedade e escolha do tipo. -->
        <div id="divCadastroProp">
            <input id="inputTexto" type="text" [(ngModel)]="nome">
            <select [(ngModel)]="tipo">
                <option *ngFor="let tipos of listaTipos">
                    {{tipos}}
                </option>
            </select>
        </div>

        <!-- botão responsável por cadastrar a nova propriedade -->
        <button [disabled]="!hasPermission('Add')" (click)="cadastrarPropriedade()" id="botaoEnviar">
            Enviar
        </button>
    </div>


    <!-- ========================================================================================================================== -->


    <!-- div responsável por mostrar ao usuário na tela as propriedades cadastradas. -->
    <div id="divResultado">
        <div id="divFlex-wrap">
            <div *ngFor="let prop of listaProps, index as indice">
                <div class="divProp">
                    <div class="propNome">
                        <p>{{prop.nome}} | {{prop.tipo}}</p>
                        <button (click)="removerPropriedade(indice)">X</button>
                    </div>
                    <div class="propConteudo">
                        <ul>
                            <li *ngFor="let conteudoInsert of prop.conteudo, index as indice">
                                {{ conteudoInsert }}
                                <button (click)="removerConteudoInsert(conteudoInsert, prop)">x</button>
                            </li>
                        </ul>
                    </div>

                    <div *ngIf="prop.tipo === 'Seleção'" class="adicionarSelecao">
                        <button id="botaoCadastrarSelecao" *ngIf="!prop.inputAdd" (click)="tornaTrue(prop)">Adicionar
                            Propriedade</button>
                        <input id="inputTextoResult" type="text" [(ngModel)]="conteudoInsert" *ngIf="prop.inputAdd">
                        <button class="enviarBotao" (click)="cadastrarConteudoInsert(prop)">Enviar</button>
                        <button id="botaoVoltarSelecao" *ngIf="prop.inputAdd" (click)="tornaTrue(prop)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>